*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "roboto", sans-serif;
    margin: 0;
   
}


h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 30px ;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(157, 171, 255);
}

button:hover{
    background-color: rgb(83, 158, 255);
}

.container{
    max-width: 1400px;
    margin: auto;

}


header{
    background-color: rgb(245, 245, 245);
}

header .minilogo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(157, 171, 255);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header a:hover{
    color: rgb(83, 158, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/ojitoslindos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#hero h1{
    color: white;

}


#quienesminovia .container{
    text-align: center;
    padding: 200px 12px;
}

#comolaconoci{
    background-color: rgb(30, 30,30);
    color: white;
    text-align: center;
}
#comolaconoci .container{
    padding: 150px 12px;
}

#comolaconoci h2{
    margin-top: 0;
    font-size: 3.1em;

}

#comolaconoci p{
    display: none;

}

.textos:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/videocall.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

.textos:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/perrito.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

.textos:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/meet.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}


#porquestoytanenamorado .container{
    text-align: center;
    padding: 200px 12px;
    
}

#porquestoytanenamorado li{
    margin: 16px 0px;
    font-weight: bold;
    

}

#porquestoytanenamorado li:hover{
    color: rgb(83, 158, 255);
    

}

#ultimo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    height: 80vh;
}

#ultimo h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 5vh;

}


#ultimo button{
    font-size: 3vh;

}

@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0 ;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }
      #quienesminovia .container{
       display: flex;
       justify-content: space-evenly;

      }

      #quienesminovia .texto{
        width: 50%;
        text-align: initial;
        max-width: 600px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        

      }

      

      #quienesminovia .image1{
        background-image: url("fotos/dannamatona.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    }

    #comolaconoci .programas{
        display:flex;
        justify-content: center;

    }
    #comolaconoci p{
        display: block;
        margin-bottom: 30px;

    }

    #comolaconoci h2{
        font-size: 4em;
    }

    #comolaconoci h3{
        margin-top: 0;
    }
    #comolaconoci .textos{
        padding: 50px;
        background-size: 100% 150px;
        background-position-y: 0;
        background-repeat: no-repeat;
        background-color: rgb(50, 50, 50);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
    }

    .textos:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("fotos/videocrop.JPG");
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 20px;
        border-radius: 15px;
    }
    
    .textos:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("fotos/perritocrop.JPG");
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 20px;
        border-radius: 15px;
    }
    
    .textos:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("fotos/meetcrp.JPG");
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 20px;
        border-radius: 15px;
    }

    #porquestoytanenamorado{
        background-image: url("fotos/fotofinall.JPG") ;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: 330px 450px;
        background-position: calc(100vw - 700px) 100px;
    }

    #porquestoytanenamorado .container{
        text-align: initial;
    }

    #porquestoytanenamorado ul{
        margin-left: 100px;
    }

    @media (min-width: 1200px){
        #porquestoytanenamorado{
            background-position-x: calc(100vw - 800px);
        }
    }

    #ultimo h2{
        font-size: 5em;
    }

    #ultimo button{
        font-size: 2em;

    }

}






